@font-face { font-family: 'Roboto Slab', serif; src: url("font/RobotoSlab-Regular.ttf"); }

body, html { font-family: 'Roboto Slab', serif; font-size: 14px; height: 100%; margin: 0; }

.cl-r { color: red; }

.cl-g { color: gray; }

.cl-w { color: white; }

/* --------------------------------- */
/* 1. MENU ----------------------------------- */
#sidenav-overlay { background-color: rgba(228, 137, 137, 0.16) !important; z-index: -1 !important; }

ul li a { color: #ffffff; float: left; font-size: 15px; padding: 15px 20px !important; position: relative; text-align: center; width: 100%; z-index: 0; overflow: hidden; }

ul li a::before { background: #272727 none repeat scroll 0 0; content: ""; height: 100%; left: 0; opacity: 0.78; position: absolute; top: 0; width: 100%; z-index: -1; }

ul li a::after { -webkit-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s; background-color: #ff3740; content: ""; height: 100%; right: 100%; opacity: 0.93; position: absolute; top: 0; width: 100%; z-index: -1; }

ul li a:hover::before { -webkit-transition: all 500ms cubic-bezier(0.6, 0, 0.735, 0.045); -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045); -moz-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045); -o-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045); transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045); transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.735, 0.045); -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); -moz-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); -o-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); left: 100%; }

ul li a:hover::after { -webkit-transition: all 500ms cubic-bezier(0.6, 0, 0.735, 0.045); -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045); -moz-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045); -o-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045); transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045); transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.735, 0.045); -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); -moz-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); -o-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); right: 0; }

@-webkit-keyframes float { 0% { -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px); }
  50% { -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px); }
  100% { -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px); } }

@keyframes float { 0% { -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px); }
  50% { -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px); }
  100% { -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px); } }

@media screen and (max-width: 991px) { .nav-header { -webkit-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s; width: 50px; margin: 50px; border-radius: 38%; right: 0; -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); -webkit-transform: translatey(0px); -ms-transform: translatey(0px); transform: translatey(0px); -webkit-animation: float 8s ease-in-out infinite; animation: float 8s ease-in-out infinite; }
  .navmobile { margin-right: -50px !important; }
  .side-nav { height: auto !important; }
  .side-nav li a { height: 60px; color: white; font-weight: bold; line-height: 67px; } }

@media screen and (min-width: 992px) { .lil { width: 16%; }
  .lix { width: 14%; }
  .wdt { width: 100%; }
  .nav-header { height: auto; } }

/* MODULES */
.box { height: 100px; width: 100px; display: inline-block; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; -webkit-box-shadow: 0 5px 10px #555; -moz-box-shadow: 0 5px 10px #555; box-shadow: 0 5px 10px #555; background: #036; background: -webkit-linear-gradient(orangered, yellow); background: -o-linear-gradient(orangered, yellow); background: -moz-linear-gradient(orangered, yellow); background: -webkit-gradient(linear, left top, left bottom, from(orangered), to(yellow)); background: linear-gradient(orangered, yellow); }

#box2 { -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: 0 5px 10px #000; -moz-box-shadow: 0 5px 10px #000; box-shadow: 0 5px 10px #000; background: #036; background: -webkit-linear-gradient(#639, #fc3); background: -o-linear-gradient(#639, #fc3); background: -moz-linear-gradient(#639, #fc3); background: -webkit-gradient(linear, left top, left bottom, from(#639), to(#fc3)); background: linear-gradient(#639, #fc3); }

#box3 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px #ddd; -moz-box-shadow: 0 5px 10px #ddd; box-shadow: 0 5px 10px #ddd; background: #036; background: -webkit-linear-gradient(black, teal); background: -o-linear-gradient(black, teal); background: -moz-linear-gradient(black, teal); background: -webkit-gradient(linear, left top, left bottom, from(black), to(teal)); background: linear-gradient(black, teal); }
