%flex
	display: flex

	/* --------------------------------- */
	/* 4. All Page
	 ----------------------------------- */

@font-face
	font-family: 'Roboto Slab', serif
	src: url('font/RobotoSlab-Regular.ttf')

@font-face
	font-family: 'Raleway-Bold', serif
	src: url('font/Raleway-Bold.ttf')


body,html
	font-family: 'Roboto Slab', serif
	font-size: 14px
	height: 100%
	margin: 0
	line-height: 1.8 !important
	background-color: #F7F7F7
.titletext
	font-family: 'Raleway-Bold', serif
	font-size: 24px
.parallax-container .parallax img
	width: 100%

.cl-r
	color: #26A69A

.cl-g
	color: gray


.cl-w
	color: white

.cl-gr
	background-color: #dedede

.cl-grc
	background-color:	#efeff0

.hr
	height: 10px
	background: #c62828
	margin: 0

.top
	margin-top: 100px !important

.top1
	margin-top: 100px !important

button:focus
	background-color: transparent !important

.alg-center
	text-align: center

@-webkit-keyframes greenPulse
	from
		background-color: #ff3740
		-webkit-box-shadow: 0 0 9px #333
	50%
	background-color: #F45B69
	-webkit-box-shadow: 0 0 18px #c15b20
	to
		background-color: #ff3740
		-webkit-box-shadow: 0 0 9px #333

.parallax-container
	height: 100vh !important


$break-small: 993px

@media screen and (max-width: $break-small)

	.mrg
		margin: 0px 50px 40px 50px !important

	.ocultar
		transform: translateX(100%)
/* --------------------------------- */
/* 1. MENU
 ----------------------------------- */
#sidenav-overlay
	background-color: rgba(228, 137, 137, 0.16) !important
	z-index: -1 !important
.nav-header
	ul
		li
			a
				color: #ffffff
				float: left
				font-size: 15px
				padding: 15px 20px !important
				position: relative
				text-align: center
				width: 100%
				z-index: 0
				overflow: hidden
			a::before
				background: #272727 none repeat scroll 0 0
				content: ""
				height: 100%
				left: 0
				opacity: 0.78
				position: absolute
				top: 0
				width: 100%
				z-index: -1
			a::after
				transition: all 0.4s ease 0s
				//background-color: #ff3740 #26A69A
				background-color: #26A69A
				content: ""
				height: 100%
				right: 100%
				opacity: 0.93
				position: absolute
				top: 0
				width: 100%
				z-index: -1
			a:hover::before
				-webkit-transition: all 500ms cubic-bezier(0.600, 0, 0.735, 0.045)
				-webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
				-moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
				-o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
				transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
				transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045)
				-webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045)
				-webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045)
				-moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045)
				-o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045)
				transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045)
				left: 100%
			a:hover::after
				-webkit-transition: all 500ms cubic-bezier(0.600, 0, 0.735, 0.045)
				-webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
				-moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
				-o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
				transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
				transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045)
				-webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045)
				-webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045)
				-moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045)
				-o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045)
				transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045)
				right: 0
			a.active
				background-color: #ea454b
/* --------------------------------- */
/* 1. HOME
 ----------------------------------- */
nav
	box-shadow: none !important
	background-color: #26A69A
#home
	background: url('../img/notebook-hero-workspace-minimal.jpg') no-repeat fixed center center / cover
	height: 100%

	h1
		margin: 5px 0px
		font-weight: 700

	.parent
		@extend %flex
		align-items: center
		height: 100vh
		padding: 20px

		.cont-carousel
			@extend %flex

		span
			//color: #c62828
			color: #26A69A

		.fontsize
			font-size: 30px


	.box
		background: #292929 none repeat scroll 0 0
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		-ms-border-radius: 5px
		-o-border-radius: 5px
		border-radius: 5px
		display: table
		float: left
		height: 170px
		margin-right: 30px
		position: relative
		width: 170px
		z-index: 0

$break-mx: 480px
@media screen and (max-width: $break-mx)
	.parent
		h1
			font-size: 3.2rem
/* --------------------------------- */
/* 1. ABOUT ME
 ----------------------------------- */
.about-me
	height: auto

	img
		width: 100%
		padding: 5px

	.about-info
		border-top: 1px solid #eeeeee
		text-align: justify

		.mg
			margin-left: 10px

		.fnt
			font-size: 18px !important
			color: #c62828

	.cont-about
		@extend %flex
		align-items: center

		.txt
			text-align: justify
			letter-spacing: 0.4px
			font-style: italic
			font-size: 19px

		.txthi
			text-align: justify
			letter-spacing: 0.4px
			font-style: italic

$break-min: 600px
@media screen and (max-width: $break-min)
	.about-info
		text-align: center !important
		line-height: 2

	.btn-size
		width: 80% !important
/* --------------------------------- */
/* 1. PROYECT
 ----------------------------------- */
.proyect_card-bg
	background: #dedede
	padding: 10px 5px
	hr 
		color: #fff6
.protect-img
	border-radius: 50%
	width: 150px !important
	height: 150px
	margin: 0 auto
	margin-top: 4%
.img_card
	padding: 5px 0px
	width: 40px !important
	margin: 0 auto

@media screen and (max-width: 440px)

	.protect-img
		width: 100px !important
		height: 100px
	.proyect_card-bg
		h5
			font-size: 15px !important
	.img_card
		width: 25px !important
/*----------------------------------*/
/* 1. EXPERIENCE
 ----------------------------------- */
.exp
	background: url('../img/img.png') no-repeat
	background-size: cover
	height: 1680px
.ppd
	padding: 10px 20px
.text-center
	text-align:	center
.conta
	padding:	10px
@media screen and (max-width: 992px)
.conta
	p
		margin: 0
@media screen and (max-width: 419px)
	.exp
		height: 1550px
/* --------------------------------- */
/* 1. HABILIDADES
 ----------------------------------- */

#boton
	width: 120px
	height: 30px

.title-skill
	font-weight:	bold
	text-shadow:	-2px 2px 3px #625e5e
	font-weight: bold
	color: white

progresso[value]
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	border: none
	width: 270px
	height: 30px
	overflow:	hidden
	border: 1px inset #666
	background-color:	#D8D8D8
	border-radius: 20px


.progresso
	float: left
	margin-right:	30px
	margin-bottom: 20px
	margin: 0

.progresso span
	font-weight:	bold

/* Compatibilidad de color en Firefox, Chrome y Safari */
progresso::-moz-progresso-bar
	background: #FF8000
	background: rgba(255,175,75,1)
	background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)))
	background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	border-radius: 20px

progressoo::-webkit-progresso-value
	background: #FF8000
	background: rgba(255,175,75,1)
	background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)))
	background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%)
	border-radius: 20px


progresso::-webkit-progresso-bar
	background-color: #D8D8D8
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset
	border-radius: 20px

.bar
	width: 90%
	height: 20px

$break-small: 993px

@media screen and (max-width: $break-small)

	.bar
		width: 100%

/* --------------------------------- */
/* 1. SENNTENCE
 ----------------------------------- */

.sentence
	padding: 60px

/* --------------------------------- */
/* 1. ACTUALIDAD
 ----------------------------------- */

.actu
	padding: 30px

	.boxx
		padding: 15px
		background: #E5DCD3
		display: flex
		align-items: center
		margin: 20px
	.ppd
		padding: 10px
.bxbck1
	background: url('../img/Angularjs.jpg')
	width: 100%
	height: 300px
	background-repeat: no-repeat, no-repeat, no-repeat
	background-position: bottom right, left, right
.ppdlf
	margin-left: 0 !important
/* --------------------------------- */
/* 1. QUERY
 ----------------------------------- */

$break-small: 991px
$break-large: 992px
$break-min: 993px

@keyframes float
	0%
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6)
		transform: translatey(0px)
	50%
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2)
		transform: translatey(-20px)
	100%
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6)
		transform: translatey(0px)


@media screen and (max-width: $break-small)

	.nav-header
		width: 50px
		margin: 50px
		border-radius: 38%
		right: 0
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6)
		//transform: translatey(0px)
		//animation: float 8s ease-in-out infinite
	.top1
		margin-top: 10px !important
	.navmobile
		margin-right: -50px !important

	.side-nav
		height: auto !important
		padding-bottom: 0 !important

	.side-nav
		li a
			height: 60px
			color: white
			font-weight: bold
			line-height: 67px

@media screen and (min-width: $break-large)
	.lil
		width: 16%
	.lix
		width: 14%
	.wdt
		width: 100%
	.nav-header
		height: auto



.blue h3
	background: #fff
	color: #3498db
	font-size: 36px
	line-height: 100px
	margin: 10px
	padding: 2%
	position: relative
	text-align: center

.center h3
	opacity: 0.8
	transition: all 300ms ease
